@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Marck+Script');
/* Общие правила и классы */

html {
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

ul {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-padding-start: 0;
}

.container {
    width: 100%;
}

.container:after {
    content: "";
    display: table;
    clear: both;
}

/* Все что связанно с header */

.main-menu-container {
    color: #fff;
    background: rgba(40, 40, 41, 100);
}

.main-menu li {
    display: inline-block;
}

.main-menu a {
    position: relative;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    padding: 21px 15px 21px;
    margin-top: 5px;
    font-weight: 600;
    letter-spacing: 2px;
}

.main-menu a:hover:after {
    content: ' ';
    background: #f6164c;
    height: 7px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
}

.main-logo {
    float: left;
    font-family: 'Marck Script', cursive;
    height: 60px;
    overflow: hidden;
}

.main-logo a {
    text-decoration: none;
    color: white;
}

.main-logo img {
    height: 30px;
    margin: 15px 150px 15px 15px;
    padding-left: 15px;
}

.main-logo div {
    position: absolute;
    top: 9px;
    left: 175px;
    font-size: 3em;
    word-spacing: -6px;
    user-select: none;
}

.main-menu {
    float: right;
    padding-right: 30px;
}

@media (max-width: 850px) {
    .main-menu {
        float: left;
        padding-left: 20px;
    }

    .floating-social-bar a {
        font-size: 12px;
    }
}

.main-menu li.week-news {
    background: #00a23c;
}

.sub-menu-container {
    background: #454745;
    font-size: 0.7em;
}

.slim-container {
    display: none;
}

/* Все что связанно с content */

.content {
    flex: 1 0 auto;
}

/* Адаптируем дизайн под разрешение 480px */
@media (max-width: 565px ) {
    .slim-container {
        display: block;
    }

    .main-menu-container {
        display: none;
    }

    .main-logo img {
        padding-left: 0;
        margin-left: 5px;
    }

    .main-logo div {
        left: 148px;
        user-select: none;
    }
}

.floating-social-bar {
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px 0;
    text-align: center;
}

.floating-social-bar a {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    margin: 0 2px;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
}

.twitter-share {
    background-color: #00aced;
}

.facebook-share {
    background-color: #3b5998;
}

.googleplus-share {
    background-color: #dd4b39;
}

