.news_detail_block {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.news_detail_date {
    font-size: 2em;
    color: #9f9f9f;
    margin-bottom: 50px;
    margin-top: 50px;
    text-align: center;
}

.news_detail_title {
    display: block;
    text-align: center;
    padding: 10px;
    font-weight: 300;
    font-size: 3.5em;
    line-height: 1em;
}

@media (max-width: 425px) {
    .news_detail_date {
        margin: 20px 0 15px;
    }

    .news_detail_title {
        font-size: 2em;
    }

}