.sub_menu {
    display: block;
    width: 100%;
}

.sub_menu ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.sub_menu li {
    display: table-cell;
    margin: 10px;
    text-align: center;
}

.sub_menu a {
    display: table-cell;
    width: 180px;
    height: 45px;
    color: white;
    font-weight: bold;
    letter-spacing: 2px;
    padding: 5px;
    background: #b8c6c7;
    vertical-align: middle;
    transition: 0.2s all linear;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
}

.sub_menu a:hover {
    background: #728182;
}

@media (max-width: 425px) {
    .sub_menu ul {
        flex-direction: column;
    }

    .sub_menu li {
        margin: 2px
    }

    .sub_menu a {
        height: 25px;
        width: 300px;
        font-size: 0.8em;
    }
}