@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Marck+Script');
/* Общие правила и классы */

html {
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

ul {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-padding-start: 0;
}

h1 {
    width: 100%;
    text-align: center;
    font-size: 3em;
    font-weight: normal;
}

.container {
    width: 100%;
}

.container:after {
    content: "";
    display: table;
    clear: both;
}

/* Все что связанно с header */

.main-menu-container {
    color: #fff;
    background: rgba(40, 40, 41, 100);
}

.main-menu li {
    display: inline-block;
}

.main-menu a {
    position: relative;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    padding: 21px 15px 21px;
    margin-top: 5px;
    font-weight: 600;
    letter-spacing: 2px;
}

.main-menu a:hover:after {
    content: ' ';
    background: #f6164c;
    height: 7px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
}

.main-logo {
    float: left;
    font-family: 'Marck Script', cursive;
    height: 60px;
    overflow: hidden;
}

.main-logo a {
    text-decoration: none;
    color: white;
}

.main-logo img {
    height: 30px;
    margin: 15px 150px 15px 15px;
    padding-left: 15px;
}

.main-logo div {
    position: absolute;
    top: 9px;
    /*top: 36px;*/
    left: 175px;
    font-size: 3em;
    word-spacing: -6px;
    user-select: none;
}

.main-menu {
    float: right;
    padding-right: 30px;
}

@media (max-width: 768px) {

    .floating-social-bar a {
        font-size: 12px;
    }
}

.main-menu li.week-news {
    color: rgba(74, 161, 71, 100);
}

.sub-menu-container {
    background: #454745;
    font-size: 0.7em;
}

.slim-container {
    display: none;
}

/* Все что связанно с content */

.content {
    flex: 1 0 auto;
}

/* Адаптируем дизайн под разрешение 480px */
@media (max-width: 425px ) {
    h1 {
        display: none;
    }

    .slim-container {
        display: block;
    }

    .main-menu-container {
        display: none;
    }

    .main-logo img {
        padding-left: 0;
        margin-left: 5px;
    }

    .main-logo div {
        left: 148px;
        user-select: none;
    }
}

.floating-social-bar {
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px 0;
    text-align: center;
}

.floating-social-bar a {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    margin: 0 2px;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
    transition: 0.2s all linear;
}

.twitter-share {
    background-color: #00aced;
}

.facebook-share {
    background-color: #3b5998;
}

.googleplus-share {
    background-color: #dd4b39;
}

/* TODO доделать страницу входа и кнопки входа*/

.auth_line {
    display: none;
    width: 100%;
    height: 27px;
    background: rgb(64, 64, 65);
}

.login_button {
    text-decoration: none;
    width: 100px;
    color: white;
    font-weight: 600;
    letter-spacing: 2px;
    float: right;
    padding: 5px 20px 5px 20px;
    background: rgba(74, 161, 71, 100);
    margin-right: 40px;
    text-align: center;
}

.login_button:hover {
    background: rgb(66, 131, 66);
}

.auth_line div {
    text-decoration: none;
    color: white;
    font-weight: 600;
    letter-spacing: 2px;
    float: right;
    padding: 5px 20px 5px 20px;
}

span.search_line {
    position: absolute;
    right: 300px;
}

.search {
    color: white;
    background: rgb(40, 40, 41);
    border-radius: 10px;
    margin-top: 5px;
    border: 0;
    padding-left: 10px;
}

input.search:focus {
    background: white;
    color: black;
}

input.submit {
    font-family: 'Font Awesome 5 Free', serif;
    font-weight: 900;
    color: white;
    background: transparent;
    border: 0;
    cursor: pointer;
}
