h3 {
    font-size: 1.5em;
    color: rgba(74, 161, 71, 100);
    text-transform: uppercase;
    text-align: center;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-padding-start: 0;
    padding: 10px 0 0;
}

.welcome {
    text-align: center;
    overflow: hidden;
    position: relative;
    height: 400px;
}

slider {
    object-fit: cover;
    width: 100%;
    height: 300px;
    overflow: hidden;
}

.welcome h1 {
    position: relative;
    bottom: 175px;
    /*color: rgba(74,161,71,100);*/
    text-transform: uppercase;
}

.last-news {
    text-align: center;
    position: relative;
}

.last-news h4 {
    font-size: 1.2em;
    color: black;
    text-align: left;
    padding: 0 10px 20px 10px;
    margin: 0;
    font-weight: normal;
}

.last-news h4.news_type {
    font-size: 1em;
    color: rgb(215, 18, 73);
    text-align: left;
    padding: 5px;
    margin: 0;
}

.last-news-block p {
    text-transform: uppercase;
    color: #797979;
    position: absolute;
    width: 100%;
    bottom: 5px;
    padding-right: 5px;
    text-align: right;
    margin: 0;
}

.last-news-block li {
    display: inline-block;
    width: 25%;
    height: 250px;
    margin: 10px;
}

.last-news-block a {
    display: inline-block;
    position: relative;
    padding: 0;
    color: #fff;
    text-decoration: none;
    background: #f0f0f0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
    transition: 0.2s all linear;
}

.last-news-block a:hover {
    background-color: #b8c6c7;
}

.last-news-block img {
    object-fit: cover;
    width: 100%;
    height: 120px;
}

.anons {
    background: lightgray;
}

.anons-div li {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.anons_date {
    text-transform: uppercase;
    margin-left: 25px;
    padding: 10px;
    float: left;
    font-weight: 600;
    width: 120px;
    text-align: center;
}

.anons_day {
    font-size: 3em;
}

.anons_title {
    padding: 10px;
}

.empty_anons_title {
    padding: 10px;
    text-decoration: none;
    font-size: 2em;
    color: black;
    font-weight: 600;
}

.anons_title a {
    text-decoration: none;
    font-size: 2em;
    color: black;
    font-weight: 600;
}

@media (max-width: 768px ) {
    .last-news h4 {
        font-size: 0.95em;
        font-weight: normal;
    }

    .empty_anons_title {
        font-size: 1.5em;
    }
}

@media (max-width: 565px ) {
    h3 {
        font-size: 1.2em;
    }

    .welcome {
        display: none;
    }

    .last-news-block ul {
        overflow: hidden;
    }

    .last-news-block li {
        display: inline-block;
        width: calc(100% - 20px);
        height: 100px;
        margin: 5px 10px 5px 10px;
        overflow: hidden;
    }

    .last-news-block a:hover {
        color: black;
        position: relative;
        bottom: unset;
        right: unset;
        box-shadow: unset;
    }

    .last-news-block p {
        width: 50%;
        text-align: left;
        padding-left: 5px;
        font-size: 0.7em;
    }

    .last-news-block img {
        object-fit: cover;
        object-position: center;
        float: right;
        width: 50%;
        height: 100px;
    }

    .last-news-block h4 {
        float: left;
        width: 50%;
        font-size: 0.8em;
    }

    .last-news h4.news_type {
        font-size: 0.75em;
        color: rgb(215, 18, 73);
        text-align: left;
        padding: 5px;
        margin: 0;
    }

    .anons_date {
        margin-left: 0;
        padding: 5px;
        width: 80px;
        font-size: 0.7em;
    }

    .anons_day {
        font-size: 2em;
    }

    .anons_title {
        padding: 5px;
    }

    .anons_title a {
        font-size: 0.8em;
    }

    .empty_anons_title {
        display: inline-block;
        font-size: 1em;
        position: relative;
        text-align: center;
        width: 100%;
        padding-top: 0;
    }
}

@media (max-width: 425px ) {
    .last-news-block h4 {
        font-size: 0.8em;
        line-height: 1em;
    }

    .last-news-block p {
        font-size: 0.6em;
    }
}