.news_detail_block {
    display: inline-block;
    padding-right: 15px;
    padding-left: 15px;
    width: 75%;
    position: relative;
    float: left;
}

.news_detail_header {
    text-align: center;
}

.news_detail_date {
    font-size: 1.5em;
    color: #9f9f9f;
    margin: 40px 0 30px 0;
}

.news_detail_type {
    font-size: 1.5em;
    font-weight: bold;
    text-transform: uppercase;
    color: rgb(215, 18, 73);
    letter-spacing: 2px;
}

.news_detail_title {
    display: block;
    padding: 10px;
    font-weight: 300;
    font-size: 3.5em;
    line-height: 1em;
}

.left_news_block {
    display: inline-block;
    width: 25%;
    position: relative;
    float: right;
    padding: 10px 10px 0 0;
}

.left_news_block_title {
    font-size: 1.2em;
    font-weight: bold;
    color: rgba(74, 161, 71, 100);
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    padding: 10px 0;
}

.left_news_block li {
    display: block;
    margin: 10px 0;
}

.left_news_block a {
    display: inline-block;
    position: relative;
    width: 100%;
    padding: 0;
    background: #f0f0f0;
    overflow: hidden;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
    transition: 0.2s all linear;
}

.left_news_block a:hover {
    background-color: #b8c6c7;
}

.left_news_block_type {
    font-size: 1em;
    font-weight: bold;
    color: rgb(215, 18, 73);
    padding: 5px;
}

.left_news_block_text {
    color: black;
    padding: 0 5px 5px 10px;
}

.left_news_block_date {
    font-size: 0.8em;
    text-transform: uppercase;
    color: #797979;
    padding-left: 5px;
}

.news_detail_text {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

.news_detail_author {
    display: inline-block;
}

.news_detail_author img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 8px;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    text-align: center;
}

.news_detail_author_block {
    height: 32px;
    line-height: 32px;
    padding: 0 12px;
    border: 0;
    border-radius: 16px;
    background-color: #dedede;
    display: inline-block;
    color: rgba(0, 0, 0, .87);
    margin: 2px 0;
    white-space: nowrap;
    font-size: 0;
    padding-left: 0;
}

.news_detail_author_text {
    font-size: 13px;
    vertical-align: middle;
    display: inline-block;
}

@media (max-width: 425px) {
    .news_detail_block {
        width: 100%;
    }

    .left_news_block {
        display: none;
    }

    .news_detail_date {
        margin: 20px 0 15px;
    }

    .news_detail_title {
        font-size: 2em;
    }

    .news_detail_text {
        font-size: 14px;
    }

}