body, html {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
}

slider {
    display: block;
    width: 100%;
    height: 100%;
    background-color: #1f1f1f;
    overflow: hidden;
    /*position: absolute;*/
}

slider > * {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    left: 100%;
    background-color: #1f1f1f;
    -webkit-animation: slide 36s infinite;
    -moz-animation: slide 36s infinite;
    -o-animation: slide 36s infinite;
    animation: slide 36s infinite;
    overflow: hidden;
}

slide:nth-child(1) {
    left: 0%;
    -webkit-animation-delay: -1s;
    -moz-animation-delay: -1s;
    -o-animation-delay: -1s;
    animation-delay: -1s;
    background-image: url(/static/images/main-page/slide-show/slide-show-1.jpg);
    background-size: cover;
    background-position: center;
}

slide:nth-child(2) {
    -webkit-animation-delay: 8s;
    -moz-animation-delay: 8s;
    -o-animation-delay: 8s;
    animation-delay: 8s;
    background-image: url(/static/images/main-page/slide-show/slide-show-2.jpg);
    background-size: cover;
    background-position: center;
}

slide:nth-child(3) {
    -webkit-animation-delay: 17s;
    -moz-animation-delay: 17s;
    -o-animation-delay: 17s;
    animation-delay: 17s;
    background-image: url(/static/images/main-page/slide-show/slide-show-3.jpg);
    background-size: cover;
    background-position: center;
}

/*
slide:nth-child(4) {
 -webkit-animation-delay: 8s;
 -moz-animation-delay: 8s;
 -o-animation-delay: 8s;
 animation-delay: 8s;
}
*/

slide:nth-child(4) {
    -webkit-animation-delay: 26s;
    -moz-animation-delay: 26s;
    -o-animation-delay: 26s;
    animation-delay: 26s;
    background-image: url(/static/images/main-page/slide-show/slide-show-5.jpg);
    background-size: cover;
    background-position: center;
}

slide p {
    /*font-family: 'Sue Ellen Francisco', cursive;*/
    font-size: 2em;
    text-align: left;
    display: inline-block;
    width: 100%;
    margin-top: 45vh;
    color: white;
    text-shadow: 0px 0px 500px black;
    background: rgba(0, 0, 0, 0.8);
    padding-left: 50px;
    text-transform: uppercase;
}

slide p span {
    color: rgba(74, 161, 71, 100);
}

/*
slide:nth-child(4) p {
  color: red;
}
*/

@-webkit-keyframes slide {
    0% {
        left: 100%;
        width: 100%
    }
    5% {
        left: 0%;
    }
    /* IN */
    25% {
        left: 0%;
    }
    /*SHOW*/
    30% {
        left: -100%;
        width: 100%;
    }
    /*OUT*/
    30.00001% {
        left: -100%;
        width: 0%
    }
    100% {
        left: 100%;
        width: 0%;
    }
    /*SLEEP*/
}

@-moz-keyframes slide {
    0% {
        left: 100%;
        width: 100%
    }
    5% {
        left: 0%;
    }
    /* IN */
    25% {
        left: 0%;
    }
    /*SHOW*/
    30% {
        left: -100%;
        width: 100%;
    }
    /*OUT*/
    30.00001% {
        left: -100%;
        width: 0%
    }
    100% {
        left: 100%;
        width: 0%;
    }
    /*SLEEP*/
}

@-o-keyframes slide {
    0% {
        left: 100%;
        width: 100%
    }
    5% {
        left: 0%;
    }
    /* IN */
    25% {
        left: 0%;
    }
    /*SHOW*/
    30% {
        left: -100%;
        width: 100%;
    }
    /*OUT*/
    30.00001% {
        left: -100%;
        width: 0%
    }
    100% {
        left: 100%;
        width: 0%;
    }
    /*SLEEP*/
}

@keyframes slide {
    0% {
        left: 100%;
        width: 100%
    }
    5% {
        left: 0%;
    }
    /* IN */
    25% {
        left: 0%;
    }
    /*SHOW*/
    30% {
        left: -100%;
        width: 100%;
    }
    /*OUT*/
    30.00001% {
        left: -100%;
        width: 0%
    }
    100% {
        left: 100%;
        width: 0%;
    }
    /*SLEEP*/
}

