/* Basic styles */
* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
}

/*
body {
  font-family: sans-serif;
  background-color: #F6C390;
}
*/
a {
    text-decoration: none;
}

.slim-container {
    position: relative;
    margin: 0 auto 0;
    width: 100%;
    /*height: 534px;*/
    background-color: rgba(40, 40, 41, 100);
    overflow: hidden;
}

.slim-main-logo a{
    display: block;
    width: 180px;
    text-decoration: none;
    color: white;
    position: absolute;
    right: 10px;
    top: 20px;
}

.slim-main-logo img {
    height: 20px;
    margin: 5px 10px 0;
    float: left;
}


.slim-main-logo div {
    font-family: 'Marck Script', cursive;
    font-size: 2em;
    word-spacing: -7px;
    user-select: none;
}

/* Toggle functionality */
#toggle {
    position: absolute;
    left: -100%;
    top: -100%;
}

#toggle:focus ~ .toggle-container .button-toggle {
    box-shadow: 0 0 0 8px rgba(0, 0, 0, 0.1), inset 0 0 0 20px rgba(0, 0, 0, 0.1);
}

#toggle:checked ~ .toggle-container .button-toggle {
    box-shadow: 0 0 0 550px rgba(0, 0, 0, 0.1), inset 0 0 0 20px rgba(0, 0, 0, 0.1);
}

#toggle:checked ~ .toggle-container .button-toggle:hover {
    box-shadow: 0 0 0 550px rgba(0, 0, 0, 0.1), inset 0 0 0 20px rgba(0, 0, 0, 0.1), 0 0 0 8px rgba(0, 0, 0, 0.1), inset 0 0 0 20px rgba(0, 0, 0, 0.1);
}

#toggle:checked ~ .toggle-container .button-toggle:before {
    -webkit-transform: translateY(-50%) rotate(45deg) scale(1);
    -ms-transform: translateY(-50%) rotate(45deg) scale(1);
    transform: translateY(-50%) rotate(45deg) scale(1);
}

#toggle:checked ~ .toggle-container .button-toggle:after {
    -webkit-transform: translateY(-50%) rotate(-45deg) scale(1);
    -ms-transform: translateY(-50%) rotate(-45deg) scale(1);
    transform: translateY(-50%) rotate(-45deg) scale(1);
}

#toggle:checked:focus ~ .toggle-container .button-toggle {
    box-shadow: 0 0 0 550px rgba(0, 0, 0, 0.1), inset 0 0 0 20px rgba(0, 0, 0, 0.1), 0 0 0 8px rgba(0, 0, 0, 0.1), inset 0 0 0 20px rgba(0, 0, 0, 0.1);
}

#toggle:checked ~ .nav {
    margin-bottom: 100px;
    pointer-events: auto;
    -webkit-transform: translate(50px, 50px);
    -ms-transform: translate(50px, 50px);
    transform: translate(50px, 50px);
}

#toggle:checked ~ .nav .nav-item {
    color: #FFF;
    letter-spacing: 2px;
    height: 40px;
    line-height: 40px;
    margin-top: 0;
    opacity: 1;
    -webkit-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transition: 0.5s, opacity 0.1s;
    transition: 0.5s, opacity 0.1s;
}

#toggle:checked ~ .nav .nav-item:nth-child(1) {
    -webkit-transition-delay: 0.15s;
    transition-delay: 0.15s;
}

#toggle:checked ~ .nav .nav-item:nth-child(1):before {
    -webkit-transition-delay: 0.15s;
    transition-delay: 0.15s;
}

#toggle:checked ~ .nav .nav-item:nth-child(2) {
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}

#toggle:checked ~ .nav .nav-item:nth-child(2):before {
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}

#toggle:checked ~ .nav .nav-item:nth-child(3) {
    -webkit-transition-delay: 0.05s;
    transition-delay: 0.05s;
}

#toggle:checked ~ .nav .nav-item:nth-child(3):before {
    -webkit-transition-delay: 0.05s;
    transition-delay: 0.05s;
}

#toggle:checked ~ .nav .nav-item:nth-child(4) {
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}

#toggle:checked ~ .nav .nav-item:nth-child(4):before {
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}

#toggle:checked ~ .nav .nav-item:before {
    opacity: 0;
}

#toggle:checked ~ .dummy-content {
    padding-top: 30px;
}

#toggle:checked ~ .dummy-content:before {
    background-color: rgba(0, 0, 0, 0.3);
}

/* Toggle button */
.button-toggle {
    position: absolute;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 25px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    border-radius: 100%;
    -webkit-transition: 0.6s;
    transition: 0.6s;
}

/*
.button-toggle:hover {
  box-shadow: 0 0 0 8px rgba(0, 0, 0, 0.1), inset 0 0 0 20px rgba(0, 0, 0, 0.1);
}
*/
.button-toggle:before, .button-toggle:after {
    position: absolute;
    content: '';
    top: 50%;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
    border-radius: 5px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.button-toggle:before {
    -webkit-transform: translateY(-50%) rotate(45deg) scale(0);
    -ms-transform: translateY(-50%) rotate(45deg) scale(0);
    transform: translateY(-50%) rotate(45deg) scale(0);
}

.button-toggle:after {
    -webkit-transform: translateY(-50%) rotate(-45deg) scale(0);
    -ms-transform: translateY(-50%) rotate(-45deg) scale(0);
    transform: translateY(-50%) rotate(-45deg) scale(0);
}

/* Menu */
.nav {
    display: inline-block;
    margin: 25px 25px 20px;
    pointer-events: none;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.nav-item {
    position: relative;
    display: inline-block;
    float: left;
    clear: both;
    color: transparent;
    font-size: 14px;
    letter-spacing: -6.2px;
    height: 7px;
    line-height: 7px;
    text-transform: uppercase;
    font-weight: 600;
    white-space: nowrap;
    -webkit-transform: scaleY(0.2);
    -ms-transform: scaleY(0.2);
    transform: scaleY(0.2);
    -webkit-transition: 0.5s, opacity 1s;
    transition: 0.5s, opacity 1s;
}

.nav-item:nth-child(1) {
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}

.nav-item:nth-child(1):before {
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}

.nav-item:nth-child(2) {
    -webkit-transition-delay: 0.05s;
    transition-delay: 0.05s;
}

.nav-item:nth-child(2):before {
    -webkit-transition-delay: 0.05s;
    transition-delay: 0.05s;
}

.nav-item:nth-child(3) {
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}

.nav-item:nth-child(3):before {
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}

.nav-item:nth-child(4) {
    -webkit-transition-delay: 0.15s;
    transition-delay: 0.15s;
}

.nav-item:nth-child(4):before {
    -webkit-transition-delay: 0.15s;
    transition-delay: 0.15s;
}

.nav-item:nth-child(1) {
    letter-spacing: -8px;
}

.nav-item:nth-child(2) {
    letter-spacing: -7px;
}

.nav-item:nth-child(n + 4) {
    letter-spacing: -8px;
    margin-top: -7px;
    opacity: 0;
}

.nav-item:before {
    position: absolute;
    content: '';
    top: 50%;
    left: 0;
    width: 30px;
    border-radius: 2px;
    height: 3px;
    background-color: #FFF;
    -webkit-transform: translateY(-50%) scaleY(5);
    -ms-transform: translateY(-50%) scaleY(5);
    transform: translateY(-50%) scaleY(5);
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

/* Dummy content */
.dummy-content {
    position: relative;
    text-align: center;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.dummy-content:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: 2;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.circle {
    display: inline-block;
    width: 75px;
    height: 75px;
    background-color: #EC7263;
    border-radius: 100%;
}

.text {
    margin: 15px 0 30px;
}

.text span {
    display: inline-block;
    height: 10px;
    margin: 0 5px;
    background-color: #C06162;
    border-radius: 5px;
}

.text span:first-child {
    width: 50px;
}

.text span:last-child {
    width: 80px;
}

.square-top {
    display: inline-block;
    position: relative;
    width: 200px;
    height: 300px;
    background-color: #FEBE7E;
    z-index: 1;
}

.square-behind {
    display: inline-block;
    position: relative;
    top: -256px;
    width: 250px;
    height: 210px;
    background-color: #C28683;
}

.square-behind:before, .square-behind:after {
    position: absolute;
    content: '';
    top: 0;
    width: 40%;
    height: 100%;
}

.square-behind:before {
    left: 0;
    background-color: #9D567C;
}

.square-behind:after {
    right: 0;
    background-color: #958C6B;
}
