{% extends 'base.html' %}
{% load static %}
{% load month_name_def %}

{% block title %}
    Яблоко в Сочи
{% endblock %}

{% block link %}
    <link rel="stylesheet" href="{% static 'css/slide.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}
    <div class="welcome">
        <slider>
            <slide><p>ДОБРО ПОЖАЛОВАТЬ 1</p></slide>
            <slide><p>ДОБРО ПОЖАЛОВАТЬ 2</p></slide>
            <slide><p>ДОБРО ПОЖАЛОВАТЬ 3</p></slide>
            <slide><p>ДОБРО ПОЖАЛОВАТЬ 4</p></slide>
        </slider>
    </div>

    <div class="last-news">
        <div>
            <h3>ПОСЛЕДНИЕ НОВОСТИ</h3>
        </div>

        <div class="last-news-block">
            <ul>
                {% for one_news in last_news %}
                    <li>
                        <a href="{% url 'news_detail' pk=one_news.pk %}">
                            <div>
                                <img src="{{ one_news.image.url }}">
                                <h4>{{ one_news.title }}</h4>
                                <p>{{ one_news.published_date.date }}</p>
                            </div>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <!--TODO Сделать блок Анонсы-->
    <div class="advertising">
        <div>
            <h3>АНОНС</h3>
        </div>
        <div class="advertising-block">
            <ul>
                {% for adv in advertisings %}
                    <li>
                        <div class="adv_date">
                            <div class="adv_day">
                            {{ adv.published_date.day }}
                            </div>
                            <div>
                            {{ adv.published_date.month|month_name }}
                            </div>
                        </div>
                        <div class="adv_title">
                            <a href="#">{{ adv.title }}</a>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}