 {% extends 'base.html' %}
 {% load static %}

 {% block title %}
    Яблоко в Сочи
 {% endblock %}

 {% block content %}
    <dev class="welcome">
        <img src="{% static 'images/img.jpg' %}">
        <dev>
            <h1>ДОБРО ПОЖАЛОВАТЬ</h1>
        </dev>
    </dev>

    <dev class="last-news">
        <dev class="last-news-title">
            <h3>ПОСЛЕДНИЕ НОВОСТИ</h3>
        </dev>

        <dev class="last-news-block">
            <ul>
                {% for one_news in last_news %}
                <li>
                    <a href="{% url 'news_detail' pk=one_news.pk %}">
                        <div>
                            <img src="{% static 'images/img.jpg' %}"><br>
                            <h4>{{ one_news.title }}</h4>
                            <p>{{ one_news.published_date.date }}</p>
                        </div>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </dev>
    </dev>
 {% endblock %}