 {% extends 'base.html' %}

 {% block title %}
    Новости . Яблоко в Сочи
 {% endblock %}

 {% block sub-menu %}
    <li class="week-news"><a href=".">АКТУАЛЬНОЕ</a></li>
    <li><a href="#">ВСЕ НОВОСТИ</a></li>
 {% endblock %}

 {% block content %}
 <!--TODO Сделать многостраничный каталог новостей:
        я уже знаю как выбирать из базы только первые элементы, надо и дальше так делать -->
    {% for new in news %}
        <div>
            <h1>
                <a href="{% url 'news_detail' pk=new.pk %}">{{ new.title }}</a>
            </h1>
            <p>Дата: {{ new.published_date }}</p>
        </div>
    {% endfor %}
 {% endblock %}