{% extends 'base.html' %}
{% load static %}

{% block link %}
    <link href="{% static 'css/news_detail.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}
    Новости . Яблоко в Сочи
{% endblock %}

{% block content %}
    <div class="news_detail_block">
        <div class="news_detail_header">
            <div class="news_detail_date">
                {{ one_news.published_date }}
            </div>
            <div class="news_detail_title">{{ one_news.title }}</div>
            {% include 'social_share.html' %}
        </div>
        <div class="news_detail_text">
        {{ one_news.text|safe }}
    </div>
        <div class="news_detail_footer">
            {% include 'social_share.html' %}
        </div>
        <div class="news_detail_comments">
            <div class="fb-comments" data-href="http://messknight.pythonanywhere.com/{{ request.get_full_path }}" data-numposts="5"></div>
        </div>
    </div>
{% endblock %}