{% extends 'base.html' %}
{% load static %}

{% block title %}
    Контакты . Яблоко в Сочи
{% endblock %}

{% block description %}
    <meta name="description" content="Контакты регионального отделения политической партии «Яблоко» в городе Сочи"/>
{% endblock %}

{% block link %}
    <link href="{% static 'css/contacts.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="contacts_block">
        <h1>Связаться с нами</h1>
        {% include 'news/social_share.html' %}
        <p>Председатель региональной организации:<br> Ильенкова Ирэн Митрофановна</p>
        <p>Email: <a href="mailto: iabloko.sochi@gmail.com" style="text-decoration: none;">iabloko.sochi@gmail.com</a>
        </p>
        <hr>
        <p>Скоро здесь появится форма обратной связи...</p>
    </div>
{% endblock %}