.contacts_block {
    margin: 0 10% 0 10%;
}

.contacts_block p{
    font-size: 1.3em;
    line-height: 1.7em;
}

@media (max-width: 425px){
    .contacts_block {
        margin: 0 5px 0 5px;
    }

    .contacts_block p {
        font-size: 1em;
    }

    h1{
        display: block !important;
        font-size: 2em !important;
    }
}