{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{ one_news.title }}
{% endblock %}

{% block description %}
    <meta name="description" content="{{ one_news.text|truncatechars_html:200|striptags  }}"/>
{% endblock %}

{% block link %}
    <meta property="og:title" content="{{ one_news.title }}"/>
    <meta property="og:image" content="http://{{ request.get_host }}{{ one_news.image.url }}"/>
    <meta property="og:description" content="{{ one_news.text|truncatechars_html:200|striptags  }}"/>
    <meta name="twitter:title" content="{{ one_new.news_type }}">
    <meta name="twitter:description" content="{{ one_news.title }}">
    <meta name="twitter:image" content="http://{{ request.get_host }}{{ one_news.image.url }}">
    <link href="{% static 'css/news/news_detail.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="news_detail_block">
        <div class="news_detail_header">
            <div class="news_detail_date">{{ one_news.published_date }}</div>
            <div class="news_detail_title">{{ one_news.title }}</div>
            {% include 'news/social_share.html' %}
        </div>
        <div class="news_detail_text">{{ one_news.text|safe }}</div>
        <hr>
        <div class="news_detail_footer">
            <div class="news_detail_author">
                <span class="news_detail_author_block">
                    <img src="{{ one_news.author_img }}">
                    <span class="news_detail_author_text">{{ one_news.author_name }}</span>
                </span>
            </div>
            {% include 'news/social_share.html' %}
        </div>
        <div class="fb-comments" data-href="{{ request.build_absolute_uri }}"
             data-width="100%" data-numposts="5"></div>
    </div>

    <div class="left_news_block">
        <div class="left_news_block_title">ПОСЛЕДНИЕ НОВОСТИ</div>
        <ul>
            {% for new in last_news %}
                <li>
                    <a href="{% url 'news_detail' pk=new.pk %}">
                        <div class="left_news_block_type">{{ new.news_type }}</div>
                        <div class="left_news_block_text">{{ new.title }}</div>
                        <div class="left_news_block_date">{{ new.published_date }}</div>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}