{% extends 'base.html' %}
{% load extra_scripts %}
{% load static %}

{% block title %}
    Расследования . Яблоко в Сочи
{% endblock %}

{% block description %}
    <meta name="description" content="Антикоррупционные расследования регионального отделения политической партии «Яблоко» в городе Сочи"/>
{% endblock %}

{% block link %}
    <link href="{% static 'css/inv/inv_list.css' %}" rel="stylesheet">
    <link href="{% static 'css/sub_menu.css' %}" rel="stylesheet">
{% endblock %}

{% block sub-menu %}
    <div class="sub_menu">
        <ul class="sub_menu_ul">
            <li>
                <a href="">ШКОЛА ДЕПУТАТОВ</a>
            </li>
            <li>
                <a href="" style="background-color: #728182;">РАССЛЕДОВАНИЯ</a>
            </li>
            <li>
                <a href="">АЛЬТЕРНАТИВНЫЙ СОЧИ</a>
            </li>
        </ul>
    </div>
{% endblock %}

{% block content %}
    <div class="inv_list">
        <ul class="inv_list_ul">
            {% for inv in all_inv %}
                <li class="inv_list_li">
                    <a href="{% url 'inv_detail' pk=inv.pk %}">
                        <div class="inv_list_header">
                            <div class="inv_list_status">{{ inv.status|get_status }}</div>
                            <div class="inv_list_title">{{ inv.title }}</div>
                            <div class="inv_list_description">{{ inv.description }}</div>
                        </div>
                        <img src="{{ inv.image.url }}" class="inv_list_img">
                    </a>
                    <ul class="bases_list_ul">
                        {% for base in inv|bases_list %}
                            <li class="bases_list_li">
                                <a href="{% url 'base_inv_detail' inv_pk=inv.pk base_pk=base.pk %}">

                                    <div class="bases_type">{{ base.type|get_type }}</div>
                                    <div class="bases_type_end"></div>
                                </a></li>
                        {% endfor %}
                    </ul>
                    <div class="slim_bases_list">
                        {% for base in inv|bases_list %}

                            <input id="toogle_li_{{ inv.pk }}_{{ base.pk }}" name="toogle_li" type="radio"
                                   class="toogle_li">
                            <label for="toogle_li_{{ inv.pk }}_{{ base.pk }}">
                                <div class="slim_bases_type">{{ base.type|get_type }}</div>
                                <div class="slim_bases_type_end"></div>
                                <a href="{% url 'base_inv_detail' inv_pk=inv.pk base_pk=base.pk %}"></a>
                            </label>
                        {% endfor %}
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
